* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html 
{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #222;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #0077ff;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    color: #0077ff;
    text-decoration: none;
    margin-top: 15px;
    border-radius: 5px;
}

section {
    padding: 60px 50px;
}

.skills-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
@media(max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .skills-container {
        justify-content: center;
    }
}
nav a:hover {
    color: #0077ff;
}

.btn:hover {
    background: #0056b3;
    color: white;
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
.profile-img {
    width: 150px;
    border-radius: 12%;
    margin-bottom: 20px;
}

